extends base.pug

block scripts
  script(src='../static/index.js')

block style
    style
        include  ../static/style.css

block content 
    section#introsection
        div.head Welcome to Aditya's Dance Academy
        div.moto You can't help putting yourself into Dance

    section#missionsection
        h2 Our Mission
        div.card
            h3 Dance Perfection 
            div.cardbox
                div.cardimg
                    img(src="../static/1.png", alt="")   
                div.cardcontent
                    |This is the best dance academy in Ranchi            
        div.card
            h3 Free Style 
            div.cardbox
                div.cardimg
                    img(src="../static/2.png", alt="")   
                div.cardcontent
                    |This is the best dance academy in Ranchi                
        div.card
            h3 International level
            div.cardbox
                div.cardimg
                    img(src="../static/3.png", alt="")   
                div.cardcontent
                    |This is the best dance academy in Ranchi                 

    section#sponsorssection
        h2 Our Sponsors
        div.sponsors
            img(src="../static/client1.png", alt="sponsor image")
            img(src="../static/client2.png", alt="sponsor image")
            img(src="../static/client5.png", alt="sponsor image")
